@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

:root {
  --white-letters-color: #E3E3E3;
  --body-background-color: #050505;
  --red-letters-color: #D3545F;
}


body {
  background-color: var(--body-background-color);
  color: var(--white-letters-color);
}

html, body {
  max-width: 100dvw;
  height: 100%;
  width: 100%;
  font-display: swap;
}