@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-letters-color: #E3E3E3;
  --body-background-color: #050505;
}
 

body {
  background-color: var(--body-background-color);
  color: var(--white-letters-color);
}
